*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: #795757;
}
h1{
    background-color: #333;
    align-items: center;
    color: #EFEEEA;
    height: 3rem;
    align-content: center;
}
.choices{
    width: 180px;    /* smaller width */
     height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    border-radius: 50%;
    overflow: hidden; 
    background-color: transparent;
    margin: 0.5rem;
    padding: 2px; /* Remove padding */
    margin-top:40px
    
}

.choices:hover{
    opacity: 0.7;
    cursor: pointer;
    background-color: #4A4947;
}
/* opacity makes image blur */
/*cursor pointer means when we put cursor on the elemeent it will make pointer to highlight*/
image{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border-color: black 3px;
}

.choice{
    display: flex; /* means means horizontal*/
    align-items: center;
    justify-content: center; /* means element would be in be horizontal center straight in web*/ 
    margin-top: 3rem;
    
}

.scoreboard{
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 2rem;
    gap: 7rem;
}
.score{
    margin-top: 2rem;
}

#You, #Device{  /* means two id's have same style*/
    font-size: 4rem;
    align-content: space-evenly;
    display: inline; /* means if we are giving bac color and whole div is color we will use this for take only content part color*/
    padding: 2px; /* to give this paddding it will create box over the element */
}
.results{
    margin-top: 2.5rem;
    font-size: 2rem;
}
#msg{
    font-size: 2rem;
    background-color: #000000;
    display: inline; 
    padding: 1rem;
    border-radius: 1rem;
    color: #EFEEEA;
} 
#msg:hover{
    background-color: #4A4947;
    cursor: pointer;
}
.foot-op{
    color: #dddddd;
    margin-top: 2px;
    font-size: 14px;
}
.footer-bottom {
  display: flex;
  justify-content: center; /* center all child content */
  align-items: center;
  gap: 60rem;
  color: white;
  position: fixed;
  bottom: 0;
  padding: 4px 10rem;
  font-size: 14px;
  left: 0;
  right: 0;
}

.text-decoration-none{
    text-decoration: none;
    font-size:1.1rem
}


.footer-text {
    color:white;
    font-size:1rem

}

.github-logo {
    font-size: 1.7rem;
}